/* Reset  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* General tag style */
ul li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}

/* Display flex settings */
.d-flex{
    display: flex;
}
.j-center{
    justify-content: center;
}
.j-content-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}

/* container settings */
.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 25px 0 25px;
}


/* padding / margin settings */
.ps-2{
    padding-left: 20px;
}
.ps-1{
    padding-left: 10px;
}
.pe-3{
    padding-right: 30px;
}
.p-2{
    padding: 20px;
}
.ptb-2{
    padding: 10px 0 10px 0;
}
.ptb-4{
    padding: 30px 0 30px 0;
}

/* image settings */
.img-logo{
    width: 60px;
    display: block;
}
.img-logo-bg{
    width: 400px;
    display: block;
}
.img-product{
    width: 30px;
    display: block;
}
.block{
    display: block;
}

/* color text / color bg settings */
.bg-black{
    background-color: black;
    color: white;
}
.bg-blue{
    background-color: rgb(64, 131, 255);
}
.white{
    color: white;
}
.bg-image{
    background-image: url('../assets/img/footer-bg.jpg');
}


/* Position relative / position absolute */
.position-relative{
    position: relative;
}
.position-absolute{
    position: absolute;
    top: -60px;
    right: 0;
    
}
.z-index1000{
    z-index: 1000
}
.z-index2000{
    z-index: 2000
}